.gform_wrapper .gform_body input[type="text"],
.gform_wrapper .gform_body textarea {
	padding: 5px !important;
	background-color: #F5F5F5;
	border: 1px solid #C9C9C9;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.gform_wrapper .gform_body input[type="text"]:hover,
.gform_wrapper .gform_body textarea:hover {
	border: 1px solid #AAAAAA;
}
.gform_wrapper .gform_body input[type="text"]:focus,
.gform_wrapper .gform_body textarea:focus {
	background: #FFFFFF;
	border: 1px solid #AAAAAA;
}
.gform_wrapper.gform_body label {
	color: #555555;
}
.gform_wrapper  .gform_body span.ginput_total {
	color: #A6452E;
}
.gform_wrapper .gform_body .ginput_container input {
	margin-top: 2px !important;
}
.gform_wrapper .gform_body .ui-datepicker-trigger {
	margin: 0;
	vertical-align: top;
	padding: 3px;
}
